body {
	background: url(http://i50.tinypic.com/rh0dph.png) repeat-x;
	height: 100%;
}

html {
	
	height: 100%	
	
}
* {

margin: 0; 
padding: 0; 
font-family: Verdana, Arial;
color: #fff;

}

#nav {
	position: fixed;
	top: 0px;
	left: 0px;
    height: 100%;
	background: rgba(0, 0, 0, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#33000000,endColorstr=#99000000);
	background-image:-webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.5)));
	background-image:-moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	box-shadow: #000 1px 1px 10px;
}

#nav > ul {

margin-top : 170px;
list-style: none;
text-decoration: none;

}

#nav > ul > li {
padding: 10px;
font-size: 1.2em;
font-weight: 400;
cursor: pointer;
background-color: rgba(0, 0, 0, 0.2);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#19000000,endColorstr=#19000000);
-webkit-transition: all .25s linear;
-moz-transition: all .25s linear;
-o-transition: all .25s linear;
text-shadow: #000 1px -1px 2px;
}

#nav > ul > li:hover {
	background-color: rgba(0, 0, 0, 0.05);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#33000000,endColorstr=#33000000);
}


#header {
	height: 120px;
	background: rgba(0, 0, 0, 0.2);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#33000000,endColorstr=#99000000);
	box-shadow: #000 1px 1px 10px;
	background-image:-webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1)));
	background-image:-moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
	background-repeat: no-repeat;
	background-position:right;
	zoom: 1;  
}

#header > h1 {
	font-family: "Paytone One";
	font-size: 4em;
	padding-top: 30px;
	padding-left: 170px;
	text-shadow: #000 3px -3px 2px;
	filter: Shadow(Color=#000, Direction=135, Strength=5);
}

img {
	margin-left: 170px;
	border: 10px solid #000;
	border: 10px solid rgba(0, 0, 0, 0.3);
	width: 200px;
	height: 200px;
	float:left;
}

.stuff {
	margin-top: 20px;
	margin-left: 410px;
	padding: 15px;
	height: 190px;
	font-family: "Courier New";
		background: rgba(0, 0, 0, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#33000000,endColorstr=#99000000);
	background-image:-webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.5)));
	background-image:-moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
	background-repeat: no-repeat;
	background-position:right;
}

.container > div > h1 {
	font-family: "Paytone One";
}

.container > div > div {
	margin-top: 10%;
}
